*{
    box-sizing: border-box;
     margin: 0;
     padding:0;
  }
  p{
      
      font-style: normal;
      border: 1px solid black;
      padding:10px;
       
      background-color:burlywood;
      float: left;
      height: 300px;
      
      
  }
   
  @media (min-width: 768px) and (max-width:991px) {
      .col-1{
      width: 100%;
      
  }
  .col-2{
      width: 100%;
  }
  .col-3{
      width: 100%;
  }
      
  }
  @media (min-width: 992px) and (max-width:1199px) {
      .col-1{
      width: 50%;
      
  }
  .col-2{
      width: 50%;
  }
  .col-3{
      width: 50%;
  }
      
  }
  @media (min-width: 1200px) {

      .col-1{
      width: 33.3%;
      position: relative;
      
  }
  .col-2{
      width: 33.3%;
  }
  .col-3{
      width: 33.3%;
  }
      
  }
